.greeting-container {
    text-align: center;
  }
  .greeting-container h1{
    font-size: 30px;
    color: #9c0707;
  }
  .greeting {
    font-size: 60px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .greeting.animate {
    opacity: 1;
    transform: translateY(0);
  }

  
  .time {
    font-size: 20px;
  }